<div class="image-bg px-10 py-3.5 flex flex-col items-center" id="id-card">
    <img src="/logo.PNG" alt="" class="w-30">

    <h3 class="uppercase my-4">workers id card</h3>

    <article class="box-container">
        <div class="passport-container">
            <img src="/passport.jpg" alt="person's passport or face card">
        </div>
        <div class="pseudo-box"></div>
        <div class="gender-box">{{ genderInitial }}</div>
    </article>

    <article class="information-section">
        <h2 class="capitalize">James Samuel</h2>
        <h2>technical</h2>
        <div class="flex justify-between">
            <p>lp10</p>
            <p>rg37</p>
        </div>
    </article>

    <p>a certified member of DTCE techies</p>
</div>