.pattern {
    position: relative;
    z-index: 0;

    --s: 200px;
    /* control the size*/
    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;

    background:
        repeating-conic-gradient(from 30deg, #0000 0 120deg, var(--c3) 0 50%) calc(var(--s)/2) calc(var(--s)*tan(30deg)/2),
        repeating-conic-gradient(from 30deg, var(--c1) 0 60deg, var(--c2) 0 120deg, var(--c3) 0 50%);
    background-size: var(--s) calc(var(--s)*tan(30deg));
}

.pattern::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.8));
    border-radius: 8px;
    z-index: 1;
    pointer-events: none;
}

.my-rounded {
    border-radius: 8px;
}

.sign-in-btn {
    background-color: var(--accent);

    &:hover {
        background-color: hsl(from var(--accent) h s calc(l - 10));
    }
}

.nav-link {
    transform: color 200ms, text-underline-offset 500ms;
    transition-timing-function: ease-in-out;

    &:hover {
        color: var(--accent);
        text-underline-offset: 5px;
    }
}