<h1 class="big-text">Welcome back,
    <span class="capitalize">{{ username() }}</span>
</h1>

<section class="">
    <!-- <p>This is Day {{ todayDay }} of the convention</p> -->
    
    <h2>This is Day 3 of the convention</h2>
</section>

<div class="sign-in-status my-5 pattern h-50 my-rounded relative">
    <h2 class="absolute left-5 bottom-5 z-[2] text-white">{{ signInStatusText() }}</h2>
    <button class="capitalize px-5 py-3 my-rounded sign-in-btn text-white absolute right-5 bottom-5 z-[2]">
        {{ signInActionText() }}
    </button>
</div>

<app-tasks-overview />

<p class="capitalize cursor-pointer py-2.5 mt-16 inline-block underline underline-offset-2 font-medium nav-link" (click)="navigateToAttendance()">view my
    attendance
    history</p>