<footer>
    <div class="main-footer flex gap-3 justify-evenly px-5 py-10">
        <div class="left">
            <a href="/" class="my-flex">
                <img src="favicon/favicon.ico" alt="the logo of RCCG DTCE iCT">
                <span class="text-2xl">RCCG DTCE iCT</span>
            </a>
            <p>Empowering through technology</p>
        </div>
        <div class="middle w-1/2 flex items-start justify-evenly">
            <div class="nav-links-container">
                <h2>quick links</h2>
                <a href="">about</a>
                <a href="">sub-units</a>
                <a href="">resources</a>
                <a href="">community</a>
                <a href="">support</a>
            </div>
            <div class="nav-links-container">
                <h2>contact</h2>
                <a href="" class="cursor-none">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                        <rect width="24" height="24" fill="none" />
                        <path fill="currentColor" fill-rule="evenodd"
                            d="m12.065 21.243l-.006-.005zm.182-.274a29 29 0 0 0 3.183-3.392c2.04-2.563 3.281-5.09 3.365-7.337a6.8 6.8 0 1 0-13.591 0c.085 2.247 1.327 4.774 3.366 7.337a29 29 0 0 0 3.183 3.392q.166.15.247.218zm-.985 1.165S4 16.018 4 10a8 8 0 1 1 16 0c0 6.018-7.262 12.134-7.262 12.134c-.404.372-1.069.368-1.476 0M12 12.8a2.8 2.8 0 1 0 0-5.6a2.8 2.8 0 0 0 0 5.6m0 1.2a4 4 0 1 1 0-8a4 4 0 0 1 0 8" />
                    </svg>
                    <span>
                        Km-46, Lagos-Ibadan Expressway, Ogun state, Nigeria
                    </span>
                </a>
                <a href="mailto:hello@gmail.com">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                            <rect width="24" height="24" fill="none" />
                            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="1"
                                d="m7 9l3.75 3a2 2 0 0 0 2.5 0L17 9m4 8V7a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2" />
                        </svg>
                    </span>
                    hello&commat;gmail.com
                </a>
            </div>
        </div>
        <div class="right">
            <h2 class="capitalize mb-5">follow us</h2>
            <div class="sm-container">
                <a class="sm" href="/"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><rect width="24" height="24" fill="none"/><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.2"><path d="M2.5 12c0-4.478 0-6.718 1.391-8.109S7.521 2.5 12 2.5c4.478 0 6.718 0 8.109 1.391S21.5 7.521 21.5 12c0 4.478 0 6.718-1.391 8.109S16.479 21.5 12 21.5c-4.478 0-6.718 0-8.109-1.391S2.5 16.479 2.5 12"/><path d="M16.5 12a4.5 4.5 0 1 1-9 0a4.5 4.5 0 0 1 9 0m1.008-5.5h-.01"/></g></svg></a>
            </div>
        </div>
    </div>
    <div class="flex justify-between border-t py-3 px-2.5">
        <p>
            <span class="mr-1">&copy;</span>
            RCCG DTCE iCT Systems. All Rights Reserved
        </p>
        <div class="nav-section w-1/4 flex justify-evenly">
            <a href="/" class="capitalize">privacy policy</a>
            <a href="/" class="capitalize">terms of service</a>
        </div>
    </div>
</footer>