* {
    color: var(--neutral-background);
}

.custom-bg {
    height: calc(100dvh - 83px);
    background: linear-gradient(rgba(249, 249, 249, 0.95), rgba(249, 249, 249, 0.95)), url('/logo.PNG');
    /* background-image: url('/logo.PNG'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    backdrop-filter: blur(10px);
}

.field {
    margin-bottom: 10px;

    &:not(:first-of-type) {
        margin-top: 1rem;
    }
    & > label {
        display: block;
        margin-bottom: 0.5rem;
        font-weight: 500;
    }

    & > input {
        border: 1px solid var(--color-gray-300);
        width: 100%;
        padding: 10px;
        border-radius: 0.5rem;
        background-color: var(--color-gray-50);
    }

    & > input::placeholder {
        color: var(--color-gray-400);
    }

    & > input:focus {
        border-color: var(--color-black);
    }
}