
table {
    border-collapse: collapse;
    width: 100%;

    th {
        text-align: left;
    }

    th,
    td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
}

form > mat-form-field {
    max-width: 50%;
}

mat-form-field {
    display: block;
}

@media screen and (max-width: 420px) {
    form > mat-form-field {
        max-width: 100%;
    }
    
}