@import "tailwindcss";

:root {
    color-scheme: light dark;
    --primary: #0078d4;
    --secondary: #00b6ed;
    --accent: hsl(267, 30%, 50%);
    --neutral-foreground: #1a1c2c;
    --neutral-background: #f9f9f9;
}

.my-flex {
    display: flex;
    align-items: center;
}

html,
body {
    height: 100%;
    color: light-dark(var(--neutral-foreground), var(--neutral-background));
    background-color: light-dark(var(--neutral-background), var(--neutral-foreground));
    color-scheme: light;
}

input,
textarea {
    border: none;
    outline: none;
}

select {
    outline: none;
}

button {
    cursor: pointer;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

h1 {
    font-size: 1.5em;
    line-height: 1.5em;
    margin-block: 5px 20px;
}

h2 {
    font-size: 1.2em;
    line-height: 1.2em;
}

.maxi-text {
    font-size: 2.25em;
}

.big-text {
    font-size: 1.75em;
}

.semi-big-text {
    font-size: 1.25em;
}

.mat-mdc-notch-piece.mdc-notched-outline__notch {
    border-inline: none;
}

.my-button {
    padding: 10px 20px;
    gap: 8px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 90%;
    background-color: black;
    color: #fff;
    font-weight: 400;
    text-transform: capitalize;
    transition-property: background-color, outline;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
        background-color: #444;
    }

    &:focus {
        outline: 1px solid #333;
    }

    &.red {
        background-color: var(--color-red-500);
        border-color: var(--color-red-500);
        color: white;
    }
}

.my-button.secondary {
    background-color: transparent;
    color: #000;

    &:hover {
        outline: 1px solid #000;
    }

    &.red {
        border-color: var(--color-red-500);
        color: var(--color-red-500);
    }
}

.my-rounded {
    border-radius: 8px;
}

.custom-box-shadow {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

@media (prefers-color-scheme: dark) {

    html,
    body {
        color: var(--neutral-background);
        background-color: var(--neutral-foreground);
        color-scheme: dark;
    }

    .custom-box-shadow {
        box-shadow:
            rgba(255, 255, 255, 0.03) 0px 1px 3px 0px,
            rgba(255, 255, 255, 0.15) 0px 0px 0px 1px;
    }
}