<header class="my-flex justify-between px-5 custom-box-shadow">
    <a href="/" class="my-flex whitespace-nowrap">
        <img src="favicon/favicon.ico" alt="Nta ICT Logo" />
        <span>RCCG DTCE iCT</span>
    </a>
    <div class="right my-flex gap-3.5 justify-between w-3/4 max-md:justify-end">
        <nav class="w-3/5 pl-5 flex justify-between max-md:hidden">
            <a (click)="scrollToTarget('about-dtce')">about</a>
            <a (click)="scrollToTarget('subunits-container')">sub units</a>
            <a (click)="scrollToTarget('key-resources-container')">resources</a>
            <a (click)="scrollToTarget('community-section')">community</a>
            <a>support</a>
        </nav>
        
        <div class="actions">
            <button class="my-button" (click)="navigateToAuthPage()">login</button>
        </div>

        <button (click)="toggleNavBarVisibility()" class="hidden max-md:inline-flex">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                    stroke-width="1.5" d="M4 8.5h16m-16 7h16" />
            </svg>
        </button>
    </div>
</header>

<div class="side-nav min-md:border-b min-md:border-gray-200 max-md:py-7 w-full fixed bg-normal" #expandedNavBar>
    <nav class="hidden gap-5 text-center max-md:flex max-md:flex-col max-md:mx-auto max-md:w-3/5">
        <a (click)="navigateToSection('about-dtce')">about</a>
        <a (click)="navigateToSection('subunits-container')">sub units</a>
        <a (click)="navigateToSection('key-resources-container')">resources</a>
        <a (click)="navigateToSection('community-section')">community</a>
        <a (click)="navigateToSection('')">support</a>
    </nav>
</div>